@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 98%;
    --foreground: 20 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 24 79% 52%;
    --primary-foreground: 30 30% 98%;

    --secondary: 35 30% 37%;
    --secondary-foreground: 30 30% 98%;

    --muted: 35 30% 96%;
    --muted-foreground: 35 20% 40%;

    --accent: 120 25% 57%;
    --accent-foreground: 30 30% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 30 20% 90%;
    --input: 30 20% 90%;
    --ring: 35 30% 60%;

    --radius: 0.5rem;

    --sidebar-background: 35 30% 97%;
    --sidebar-foreground: 35 30% 37%;
    --sidebar-primary: 24 79% 52%;
    --sidebar-primary-foreground: 30 30% 98%;
    --sidebar-accent: 35 30% 94%;
    --sidebar-accent-foreground: 35 30% 30%;
    --sidebar-border: 35 30% 90%;
    --sidebar-ring: 35 30% 60%;
  }

  .dark {
    --background: 35 30% 10%;
    --foreground: 30 20% 90%;

    --card: 35 30% 15%;
    --card-foreground: 30 20% 90%;

    --popover: 35 30% 15%;
    --popover-foreground: 30 20% 90%;

    --primary: 24 79% 52%;
    --primary-foreground: 30 30% 98%;

    --secondary: 35 30% 37%;
    --secondary-foreground: 30 30% 98%;

    --muted: 35 30% 20%;
    --muted-foreground: 35 20% 70%;

    --accent: 120 25% 30%;
    --accent-foreground: 30 30% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 90%;

    --border: 35 30% 25%;
    --input: 35 30% 25%;
    --ring: 35 30% 40%;
    
    --sidebar-background: 35 30% 15%;
    --sidebar-foreground: 35 25% 80%;
    --sidebar-primary: 24 79% 52%;
    --sidebar-primary-foreground: 30 30% 98%;
    --sidebar-accent: 35 30% 20%;
    --sidebar-accent-foreground: 35 25% 80%;
    --sidebar-border: 35 30% 25%;
    --sidebar-ring: 35 30% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  
  .ant-steps-item-process .ant-steps-item-icon {
    @apply bg-spice-500 border-spice-500;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon {
    @apply border-spice-500;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
    @apply text-spice-500;
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    @apply bg-spice-500;
  }
}


@font-face {
    font-family: 'Sugar and Spice HandSans';
    src: url('/public/Sugar\ and\ Spice\ HandSans.ttf') format('truetype'); /* Correct format */
    font-weight: normal;
    font-style: normal;
}